{% extends "layout.html" %}

{% block scripts %}
<!-- <script src="{{ url_for('static', filename='main.js') }}"></script> -->
<script>
    window.onload = (event) => {
        let video = document.getElementById("video");
        navigator.mediaDevices
            .getUserMedia({ video: true })
            .then((stream) => {
                video.srcObject = stream;
                video.play();
            });
        }

    function snapPhoto() {
        let canvas = document.getElementById("canvas");
        let photo = document.getElementById("photo");

        canvas.getContext('2d').drawImage(video, 0, 0, 640, 480);
        photo.innerText = canvas.toDataURL();
    }
</script>
{% endblock scripts %}

{% block content %}

<div>
    <video id="video" width="640" height="480" autoplay></video>
</div>
<div>
    <canvas hidden id="canvas" width="640" height="480"></canvas>
</div>

<form method="POST" action="">
    {{ form.csrf_token }}
    <fieldset class="form-group">
        <div hidden class="form-group">
            {{ form.photo(class="form-control form-control-lg") }}
        </div>
    </fieldset>
    <div class="form-group">
        {{ form.submit(class="btn btn-outline-info", onclick='snapPhoto()') }}
    </div>
</form>
{% endblock content %}